.skills {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExejIxb2d1dnNyeWxueXdlaDNlNTQ5djl0YTllZjlseWhtcmZxZXRlNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/m5oQabBdoOye4/giphy.webp);
  background-size: cover;
  background-repeat: no-repeat;
}