---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Inaki Carcereny - Frontend Developer">
  <section class="mx-auto max-w-[1650px] w-full h-full py-6 flex">
    <h3>You can contact me at</h3>
  </section>
</Layout>
