---
import Alien from "@/icons/Alien.astro";

import { contacts } from "@/lib/Contacts";
---

<section
  id="Contact"
  class="mx-auto bg-zinc-100 dark:bg-[#222222] w-full h-full mt-28 py-10"
>
  <div
    class="flex flex-col mx-auto max-w-[1650px] w-full h-full py-10 px-4 xl:px-0"
  >
    <header class="flex items-center place-content-end gap-4 mb-8">
      <Alien
        class:list={["md:h-10 md:w-10 w-8 h-8 text-black dark:text-white"]}
      />
      <div class="flex flex-col gap-4">
        <h3
          class="md:text-5xl text-2xl font-semibold text-black dark:text-white"
        >
          Contact me
        </h3>
        <p
          class="md:text-sm text-xs font-medium text-gray-700 leading-relaxed text-wrap dark:text-white md:max-w-[450px] max-w-[300px] w-full"
        >
          Feel free to reach out through any of these platforms. I'm always open
          to discussing new projects and opportunities.
        </p>
      </div>
    </header>
    <div
      class="flex flex-col items-center justify-center gap-12 bg-white dark:bg-[#1c1c1c] max-w-[700px] mx-auto w-full rounded-[8px] h-[400px] border border-zinc-300 dark:border-black px-8 shadow-md"
    >
      <img
        src="/assets/inaki.webp"
        alt="pohoto of inaki"
        class="w-48 h-48 rounded-[4px] border dark:border-black border-zinc-300"
      />
      <ul class="flex flex-col gap-4 max-w-[400px] w-full">
        {
          contacts.map((contact) => (
            <li class="w-full">
              <a
                href={contact.href}
                rel="noopener noreferrer"
                aria-label={`Go to ${contact.label} page`}
                class="flex items-center justify-center gap-4 font-semibold text-black dark:text-white bg-zinc-100 rounded-[4px] px-4 py-1 dark:bg-black w-full"
              >
                <contact.icon
                  class:list={["h-5 w-5 text-black dark:text-white"]}
                />
                <p class="font-semibold text-sm md:text-base text-black dark:text-white">
                  {contact.label}
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
