---
import { contactButtons } from "@/lib/ContactButtons";
---

<section
  id="About"
  class="flex flex-col gap-16 items-center justify-center max-w-[950px] mx-auto px-5"
>
  <header class="flex flex-col gap-4 items-center">
    <h1
      class="md:text-6xl text-4xl font-extrabold bg-gradient-to-b from-blue-400 via-blue-600 to-blue-800 bg-clip-text text-transparent text-center leading-tight drop-shadow-md text-pretty z-10"
    >
      Hi! My name is Inaki Carcereny and I am a Frontend Developer.
    </h1>
    <p
      class="md:text-base text-sm text-center font-medium text-gray-700 leading-relaxed max-w-3xl mx-auto dark:text-white"
    >
      I am 19 years old and after a year in engineering,
      <strong
        class="font-semibold text-blue-600 hover:text-blue-700 transition-colors"
      >
        I discovered my true passion in self-taught web development,
        specializing in Front-End.
      </strong>
      I focus on creating responsive and attractive interfaces, with unique designs
      focused on the user experience.
      <strong
        class="font-semibold text-blue-600 hover:text-blue-700 transition-colors"
      >
        My goal is to provide clean, scalable and reusable code, always applying
        best practices.
      </strong>
      I am constantly learning to continue improving and provide innovative solutions
      in the world of web development.
    </p>
  </header>
  <img src="/assets/hero-banner.webp" alt="banner" class="w-full h-auto" />
  <div class="flex flex-col gap-4 max-w-[450px] w-full">
    <ul class="flex items-center justify-around">
      {
        contactButtons.map(({ icon: Icon, label, href }) => (
          <a
            href={href}
            class="flex items-center gap-2 font-semibold text-black dark:text-white"
          >
            <Icon class:list={["h-5 w-5 text-black dark:text-white"]} />
            <p class="md:text-base text-sm">{label}</p>
          </a>
        ))
      }
    </ul>
    <a
      href="#Projects"
      class="flex justify-center items-center text-white bg-black dark:bg-white dark:text-black rounded-[4px] px-4 py-1 font-semibold md:text-base text-sm"
    >
      Read More
    </a>
  </div>
</section>
