---
interface Props {
  label: string;
}

const { label } = Astro.props;
---

<li class="px-2">
  <a
    class="text-blue-500 hover:text-blue-400 duration-200 font-semibold"
    href={`#${label}`}>{label}</a
  >
</li>
