<div class="flex flex-col gap-4">
  <h3 class="text-end text-black font-semibold text-5xl font-mono underline">
    Projects
  </h3>
  <article class="flex items-center justify-between">
    <img
      src="/assets/projects-banner.webp"
      alt="projects banner"
      class="w-auto h-[350px]"
    />
    <li
      class="border border-black rounded-[4px] p-2 flex flex-col gap-4 max-w-[700px]"
    >
      <img
        src="/assets/discord-clone.png"
        alt="discord clone"
        class="w-full h-[300px] rounded-[6px]"
      />
      <p class="text-sm text-gray-700 font-semibold">
        Discord clone made with React, Next.js, Tailwind, and Redux. It was a
        fun project to work on and I learned a lot from it.
      </p>
    </li>
  </article>
</div>
