---
import Universe from '@/icons/Universe.astro';

import { CarouselSpacing } from '@/components/CarrouselSpacing';
---

<section
  id="Skills"
  class="mx-auto max-w-[1650px] w-full h-full mt-28 flex flex-col justify-center px-4 2xl:px-0"
>
  <header class="mb-8 flex items-center gap-4">
    <Universe
      class:list={['md:h-10 md:w-10 h-8 w-8 text-black dark:text-white']}
    />
    <h3 class="md:text-5xl text-2xl font-semibold text-black dark:text-white">
      Skills
    </h3>
  </header>
  <CarouselSpacing client:load />
</section>
