---
import { skillsCards } from "@/lib/SkillsCard";
---

<section class="flex flex-col gap-10">
  <h3 class="text-start text-white font-semibold text-4xl">My Skills</h3>
  <ul class="grid grid-cols-4 gap-4">
    {
      skillsCards.map(({ title, icon: Icon, color }) => (
        <li class="flex flex-col items-center justify-center gap-2 bg-[#12182c] rounded-[4px] p-4 h-[200px] border border-blue-800/20">
          <Icon class={`${color} h-10 w-10`} />
          <p class="text-white font-semibold text-xl">{title}</p>
        </li>
      ))
    }
  </ul>
</section>
